.footer {
    background: #15192C;
  bottom: 0;
  width: 100%;
}
.footer-follow{
  font-weight: bolder;

}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {

  .footer {
    height: 10rem;
    margin-top: -10rem;
  }
}

