.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.nav-display{
  display: flex;
  margin: auto;
  width: 100%;
}

.nav-heading{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin: auto;
}

.HeadLink {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.2em;
  padding: 10px;
  letter-spacing: 1px;
}

.HeadLink:hover{
  font-size: 1.25em;
}

