

.nav-bar{
    background: #15192C;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.nav-display{
  display: flex;
  margin: auto;
  width: unset;
}
.nav-heading{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #fff;
  margin: auto;
}
.nav-toggler{
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
}

.head-link-base {
  top: 0.3rem;
  font-family: "Roboto", serif;
  /*
  font-style: italic;
  font-size: 1.2em;
  */
  padding: 10px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px){
  .nav-display{
    margin-left: 1rem;
  }
  .head-link-3{
    position: absolute;
    right:    13rem;
  }

  .head-link-4{
    position: absolute;
    right:    6rem;
  }

  /*.head-link-4:hover{
    font-size: 1.25em;
  }*/

  .head-link-5{
    position: absolute;
    right:    1rem;
  }
  /*
  .head-link-5:hover{
    font-size: 1.25em;
  }
 */
}
