.middle {
    position: absolute;
    left: 50%;
    top: 50%;
}

.member-container {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.member-details-container {
    margin-top: 5rem;
    padding-bottom: 2rem;
}
.developer-title{
    padding: 5px 10px;
}